

extends layout

block content


  .form_body
      .layout
          .logo
            img(src='/images/logo.png',height ='60px')
          h2.sign Sign up with
          .fb_gm
            h2#fb 
              a(href='#') Facebook
            h2#gm 
              a(href='#') Gmail
          h3 or  
          h2.ds 
            a(href='/user') Open DrawInSync

    